body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: #5256AD; */
    background-image: url(https://i.pinimg.com/474x/b5/3a/83/b53a833150717b398266b96635184be4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

h2{
   
    animation:aitf 80s linear infinite ;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    letter-spacing: 0;
    display: block;
    color: rgba(255, 255, 255, 25);
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);
    background:url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-animation:aitf 80s linear infinite ;
    
   
}

@keyframes aitf {
    0%{
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.to{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10px;
   background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.chii {
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 20px;
    padding: 20px;
}

.img {
    height: 300px;
    width: 300px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
